dart/ios/Libs/**/*.dylib filter=lfs diff=lfs merge=lfs -text
dart/ios/Libs/**/*.a filter=lfs diff=lfs merge=lfs -text
dart/ios/Libs/*.dylib filter=lfs diff=lfs merge=lfs -text
dart/ios/Libs/*.a filter=lfs diff=lfs merge=lfs -text
dart/ios/Libs/cardano_flutter_rs.framework/cardano_flutter_rs filter=lfs diff=lfs merge=lfs -text
